/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');*/


:root {
    font-family: 'Courier New', monospace;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #333;
    background-color: #f5f5f5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.epigram-card {
    height: 10rem;
}

.author {
    font-family: 'Fira Code Retina', monospace;
    font-size: 0.7rem;
    font-style: italic;
    margin-top: 8px;
}

button, input {
    font-family: 'Fira Code Retina', monospace;
}